*~
TRANS.TBL
isolinux/CentOS_BuildTag
isolinux/EFI/
isolinux/EULA
isolinux/GPL
isolinux/images/
isolinux/LiveOS/
isolinux/Packages/
isolinux/RPM-GPG-KEY-CentOS-7
isolinux/RPM-GPG-KEY-CentOS-Testing-7
isolinux/isolinux/boot.cat
isolinux/isolinux/boot.msg
isolinux/isolinux/grub.conf
isolinux/isolinux/initrd.img
isolinux/isolinux/isolinux.bin
isolinux/isolinux/memtest
isolinux/isolinux/splash.png
isolinux/isolinux/upgrade.img
isolinux/isolinux/vesamenu.c32
isolinux/isolinux/vmlinuz
isolinux/repodata/